---
layout:             page
description:        "(o゜▽゜)o☆奇怪的知识增加了！"
header-img-credit:  {{site.header-img-credit}}
header-img-year:    {{site.header-img-year}}
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }} · {% if post.timecost %}{{ post.timecost }} to read {% endif %}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<!-- CleverYh -->
<script type="text/javascript" charset="utf-8"  src="https://cleveryh.github.io/js/L2Dwidget.0.min.js"></script>
<script type="text/javascript" charset="utf-8"  src="https://cleveryh.github.io/js/L2Dwidget.min.js"></script>
<script type="text/javascript">
    L2Dwidget.init({"display": {
            "superSample": 2,
            "width": 128,
            "height": 256,
            "position": "right",
            "hOffset": 0,
            "vOffset": 0
        }
    });
</script>