---
layout: page
title: ""
description: ""
header-img: "img/about-bg-1.jpg"
header-img-credit: SHUHUAN
header-img-year: 2023
multilingual: true
hide-in-nav: true
<!-- no-about: true -->
<!-- no-tags: true -->
<!-- no-friends: true -->
<!-- header-style: text -->

---
<!-- heading-font: CamingoCodeRegular -->

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange="onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0"> 中 | Zh </option>
    <option value="1" selected> 英 | En </option>
</select> -->


<!-- English Version -->
<div class="en post-container">
    <!-- <blockquote><p>Le vent se lève, il faut tenter de vivre. </p></blockquote> -->

    <!-- <blockquote>
        <p>Pas à pas, on va loin. </p>
    </blockquote> -->

    <h3>Brief Biography</h3>

    <span>
        Hi! I am CHEN Yuhan (陈禹翰, Tan-Woo-Hang), second year MPhil student in <!--<a href="https://github.com/HPMLL" target="_blank">High Performance Machine Learning Lab</a>, --><a href="https://dsa.hkust-gz.edu.cn/" target="_blank">Data Science and Analytics Thrust</a>
        <!--, <a href="https://www.hkust-gz.edu.cn/academics/hubs-and-thrust-areas/information-hub/" target="_blank">Information Hub</a>  -->
        of <a href="https://www.hkust-gz.edu.cn/" target="_blank">The Hong Kong University of Science and Technology (Guangzhou)</a> supervised by <a
        href="https://sites.google.com/view/chuxiaowen"
        target="_blank">Prof. CHU Xiaowen</a> and co-supervised by <a
        href="https://www.liuhongyuan.com/"
        target="_blank">Prof. LIU Hongyuan</a>. I obtained my B.Eng. in Computer Science and Engineering from <a href="https://cse.sysu.edu.cn/" target="_blank">Sun Yat-sen University</a> in 2023, supervised by <a
        href="https://cse.sysu.edu.cn/content/4547" target="_blank">Prof. CHEN Gang</a>.</p>
    </span>
    
    <!-- <p>You can make comments through Gitalk down here or sent e-mails to me via <a href="mailto:cortexcyh@gmail.com">cortexcyh@gmail.com</a> or
        <a href="mailto:ychen906@connect.hkust-gz.edu.cn">ychen906@connect.hkust-gz.edu.cn</a>.</p> -->

    <h6>Research Interests</h6>
        <ul>
            <li>CUDA & Ascend C Kernel Speedup</li>
            <li>LLM Training & Inference Speedup</li>
            <li>High-Performance ML System, Multi-GPU System</li>
        </ul>

    {% include news.html %}

    <h3>📕 Teaching</h3>
    <ul>
        <li>DSAA5013 - Advanced Machine Learning (for PG), Spring 2024, Teaching Assistant, HKUST(GZ)</li>
        <li>Residential College Buddy Coach (for UG), 2024-2025, HKUST(GZ)</li>
    </ul>

    {% include pub.html %}

    <!-- <h3>Hobbies</h3>
    
        <ul>
            <li>Swmming, badminton, ping-pong</li>
            <li>Photography</li>
            <li><a href="https://overwatch.blizzard.com" target="_blank">Overwatch</a></li>
        </ul> -->

    <h3>🛠️ Academic Services</h3>
    <ul>
        <li>Student Volunteer, IEEE/ACM International Symposium on Quality of Service (IWQoS) 2024, Guangzhou</li>
    </ul>
    
    <h3>🎖 Selected Competitions & Awards</h3>

        <ul>
            <li>TOP 8 (SS#6), Guangdong University Overwatch League 2024, <i>DPS - Team HKUST(GZ)</i></li>
            <li>Second place, Overwatch Metal League 2024 Guangzhou Division, <i>DPS - Team Guangzhou Red Bird</i> 
                <!-- <img style="display: inline-block; margin:0; cursor:pointer;" src="https://img.shields.io/badge/Highlight-(WIP)-956CFA?style=flat-square&logo=azurepipelines&logoColor=FFFFFF&labelColor=2B9FBF"></li> -->
            <!-- <li>Second Class, Sun Yat-sen University Outstanding Student Scholarship (Top 10%)</li> -->
            <li>First prize, 17th Challenge Cup National College Students' Extracurricular Academic Science and Technology Contest
                <!--  (Top 0.01% nationally) <a href="https://www.sysu.edu.cn/news/info/1881/465521.htm" target="_blank" title="news report"><img style="display: inline-block; margin:0; cursor:pointer;" src="https://img.shields.io/badge/Highlight-956CFA?style=flat-square&logo=azurepipelines&logoColor=FFFFFF">
                    </a></li> -->
            <li>Special prize, 16th Challenge Cup Guangdong College Students' Extracurricular Academic Science and Technology Contest</li>
            <li>"Campus Little Writer", 2012</li>
        </ul>

    <h3>📖 Educations</h3>
    <ul>
        <li>2023.09-present: HKUST(GZ), M.Phil. student in Data Science and Analytics</li>
        <li>2019.09-2023.06: Sun Yat-sen University, B.Eng. in Computer Science and Engineering</li>
    </ul>

    <h3>💻 Experiences</h3>
        <ul>
            <li>2023.02-2023.04: OS Kernel R&D Intern, ACOINFO Co., Ltd.
        </ul>

    <h3>Read More</h3>
    <ul>
        <li><a href="https://lzzmm.github.io/2020/07/10/Nietzsche/">Der Wille zur Macht & Übermensch</a></li>
    </ul>

    <p>Latest update on Jul. 19th, 2024.</p>
    
    <a href="/2020/02/16/log/">Here are the change logs of this site. ( •̀ ω •́ )</a>

</div>


<!-- Chinese Version -->
<!-- <div class="zh post-container"> -->

    <!--copied from markdown -->
    <!-- <blockquote>
        <p>冰冻三尺 非一日之寒<br>
            积土成山 非斯须之作</p>
    </blockquote> -->

    <!-- <p>嘿，我是<strong>炸毛</strong>，本科生，现就读于中山大学-->
    <!--<del>数据科学与</del>计算机学院计算机科学与技术专业（超级计算方向）。</p>-->

    <!-- <h3>简介</h3>

    <p>我是陈禹翰，<a href="https://www.hkust-gz.edu.cn/" target="_blank">香港科技大学（广州）</a>
        <a href="https://dsa.hkust-gz.edu.cn/" target="_blank">数据科学与分析学域</a>硕士一年级学生，导师是<a href="https://sites.google.com/view/chuxiaowen" target="_blank">褚晓文教授</a>和<a
        href="https://www.liuhongyuan.com/"
        target="_blank">刘宏远教授</a>。我于2023年在<a href="https://cse.sysu.edu.cn/" target="_blank">中山大学</a>获得计算机科学与技术工学学士学位，导师是<a href="https://cse.sysu.edu.cn/content/4547" target="_blank">陈刚教授</a>。
    </p> -->

    <!-- <h6>研究兴趣</h6>
    <ul>
        <li>CUDA 和 Ascend C 算子加速</li>
        <li>大语言模型训练和推理优化加速</li>
        <li>高性能机器学习系统，多卡、集群和分布式系统</li>
    </ul>



    <h3>📕 教学经历</h3>
    <ul>
        <li>DSAA5013 - Advanced Machine Learning (研究生), 2024 春, 助教, 香港科技大学（广州）</li>
        <li>Residential College Buddy Coach (本科生), 2024-2025, 香港科技大学（广州）</li>
    </ul> -->


    <!-- <h3>爱好</h3>

    <ul>
        <li>游泳、羽毛球、乒乓球</li>
        <li>摄影</li>
        <li><a href="https://overwatch.blizzard.com" target="_blank">守望先锋</a></li>
    </ul> -->

    <!-- <h3>🎖 部分竞赛获奖</h3>

    <ul>
        <li>2024守望先锋广东高校联赛八强（瑞士轮#6） <i>输出 - 香港科技大学（广州）队</i></li>
        <li>2024守望先锋金属联赛广州赛区亚军 <i>输出 - 广州红鸟队</i> <img style="display: inline-block; margin:0; cursor:pointer;" src="https://img.shields.io/badge/Highlight-(WIP)-956CFA?style=flat-square&logo=azurepipelines&logoColor=FFFFFF&labelColor=2B9FBF"></li>
        <li>中山大学优秀学生奖学金二等奖</li>
        <li>第十七届挑战杯全国大学生课外学术科技作品竞赛一等奖 <a href="https://www.sysu.edu.cn/news/info/1881/465521.htm" target="_blank" title="news report"><img style="display: inline-block; margin:0; cursor:pointer;" src="https://img.shields.io/badge/Highlight-956CFA?style=flat-square&logo=azurepipelines&logoColor=FFFFFF"></a></li>
        <li>第十六届挑战杯广东省大学生课外学术科技作品竞赛特等奖</li>
    </ul>


    <h3>📖 教育经历</h3>
    <ul>
        <li>2023.09-present: 香港科技大学（广州） 数据科学与分析学域硕士研究生</li>
        <li>2019.09-2023.06: 中山大学 计算机科学与技术工学学士</li>
    </ul> -->

    <!-- <h3>💻 实习经历</h3> -->

    <!-- <h5>Cost-effective All-in-One Machine for Large Language Models to Tackle Smart City Challenges</br/>High-Performance Fine-Tuning Optimization For Large Language Models</h5>

    <i>2nd Cohort RBM Project<br/>Supervised by Prof. CHU Xiaowen (Academic) & Dr. HUANG Tongge (Project)</i>

    </br>

    WIP -->

    <!-- <ul>
        <li>2023.02-2023.04: 翼辉信息有限公司，操作系统内核研发实习
    </ul> -->

    <!-- <h5>广东省重点研发计划实时操作系统子项目实时操作系统实时性指标研究分析</h5>

    <i>翼辉信息有限公司操作系统内核研发实习<br/>由陈刚教授和王东方技术总监指导</i> -->

    <!-- </br> -->
    
    <!-- 负责研究SylixOS和MS-RTOS内核实时性，分别针对两款操作系统编写内核测试程序测试不同平台上实时性能，优化内核实时性。 -->

    <!-- <p>炸毛十分的<strong>懒</strong>。更多关于炸毛请前往 <a href="https://lzzmm.github.io/2020/02/15/HelloWorld/">Hello_World!</a> -->
    <!-- </p> -->

    <!-- <p>要怎么开始自我介绍呢？</p>

    <p>在刚搭建这个博客的时候，我写了很多很多东西。那是在疫情的开端，我还拥有着改变世界的年轻梦想。现在看来，一切都十分可笑。我没有在这两年间认真对待我的梦想，我浑浑噩噩过了两年，到今天，好像已经不想认识自己了。</p>

    <p>我是不好意思说我喜欢学习，喜欢编码，喜欢研究的。我感觉我的状态惯性特别大——很难开始干活，但一进入状态就又很享受，停不下来。所以，我姑且算是一个不时对学习有三分钟热度的家伙吧。</p>

    <p>和高中同学自学半个月做了个小程序。尽管最后没能获奖，但十分开心。可惜的是社区需要的更重要的是运营，而我们后来没有继续做下去的打算了。</p>

    <p>参加了机器人比赛，在许多通宵的日子里体会到了用尽全力做成事情的喜悦。</p>

    <p>这两天写编译器，好像又有了这种感觉。去年的现在写操作系统应该可能也有吧，只是最后放纵了，很可惜没有用心写到最后。</p>

    <p>虽然一直是间歇性踌躇满志，但是至少在还有踌躇满志的人生中把握住机会努力，应该也能有好结果吧。</p>

    <p>社会环境什么的，可能之前看的很重。但是，除了热爱，其他都不重要了。我还是坚信自己热爱计算机，热爱运行自己建造的系统时的喜悦。</p>

    <p>我也热爱阅读和摄影。</p>

    <p>希望可以一直热爱生活。</p> -->
    
    <!-- <h3>推荐阅读</h3>
    <ul>
        <li><a href="https://lzzmm.github.io/2020/07/10/Nietzsche/">尼采的权力意志和自我超越</a></li>
    </ul> -->
    
        <!-- <p>这是利用 <a href="https://pages.github.com/">GitHub Pages</a> 与 <a href="http://jekyll.com.cn/">Jekyll</a>
            搭建的个人博客。源码在<a href="https://github.com/lzzmm/lzzmm.github.io_">GitHub</a>上。</p> -->
    
        <!-- <p>虽然炸毛十分的<strong>菜</strong>，但是热爱计算机和web。感谢<a href="https://huangxuan.me/" target="_blank">Hux</a>和<a
                href="https://github.com/qiubaiying/qiubaiying.github.io"
                target="_blank">BY</a>的开源项目，胡乱魔改一番总算搭起了这个网页。我从现在开始克服懒惰努力写自己的博客。请多指教！(￣▽￣)"</p> -->
    
        <!-- <p>最后更新于2024年2月27日。</p>
    
        <a href="/2020/02/16/log/">这里是博客的维护记录( •̀ ω •́ )</a> -->

<!-- </div> -->

<!-- Handle Language Change -->
<!-- <script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render() {
        var _hash = window.location.hash;
        // en
        if (_hash == "#en") {
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
            // zh by default
        } else {
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index) {
        if (index == 0) {
            window.location.hash = "#zh"
        } else {
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script> -->

<!-- Live2D start -->
<!-- <script type="text/javascript" charset="utf-8"  src="{{ site.baseurl }}/js/L2Dwidget.0.min.js"></script>
<script type="text/javascript" charset="utf-8"  src="{{ site.baseurl }}/js/L2Dwidget.min.js"></script>
<script type="text/javascript">
    L2Dwidget.init({"display": {
        "superSample": 2,
        "width": 128,
        "height": 256,
        "position": "right",
        "hOffset": 0,
        "vOffset": 0
        }
    });
</script> -->
<!-- Live2D end -->


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{site.gitalk.clientID}}',
        clientSecret: '{{site.gitalk.clientSecret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: {{ site.gitalk.distractionFreeMode }},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

<!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}



{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}