<h3 id="pub">📝 Publications</h3>
<ol>
    <li>
        ROME: Maximizing GPU Efficiency for All-Pairs Shortest Path via Taming Fine-Grained Irregularities<br/>
        Weile Luo, <b>Yuhan Chen</b>, Xiangrui Yu, Qiang Wang, Ruibo Fan, Hongyuan Liu<sup>#</sup>, Xiaowen Chu<sup>#</sup><br/>
        <i>PPoPP '26: Proceedings of the 31st ACM SIGPLAN Annual Symposium on Principles and Practice of Parallel Programming</i>, 204 - 217, 2026
    </li>
    <li>
        BurstGPT: A Real-world Workload Dataset to Optimize LLM Serving Systems<br/>
        Yuxin Wang*, <b>Yuhan Chen*</b>, Zeyu Li, Xueze Kang, Zhenheng Tang, Xin He, Rui Guo, Xin Wang, Qiang Wang, Amelie Chi Zhou, Xiaowen Chu<sup>#</sup><br/>
        <i>Proceedings of the 31st ACM SIGKDD Conference on Knowledge Discovery and Data Mining V. 2</i>, 5831-5841, 2025
    </li>

    <li>
        STBLLM: Breaking the 1-Bit Barrier with Structured Binary LLMs<br/>
        Peijie Dong*, Lujun Li*, Yuedong Zhong, Dayou Du, Ruibo Fan, <b>Yuhan Chen</b>, Zhenheng Tang, Qiang Wang, Wei Xue, Yike Guo<sup>#</sup>, Xiaowen Chu<sup>#</sup><br/>
        <i>ICLR</i>, 2025
    </li>

    <!-- <li>
        海洋生物的会议, <b>陈禹翰</b>, <i>南澳文艺, 20</i>, 39-40, 2012
    </li> -->

    * Equal contribution &nbsp; <sup>#</sup> Corresponding author
</ol>
