<h3 id="pub">📝 Publications</h3>
<ol>
    <li>
        BurstGPT: A Real-world Workload Dataset to Optimize LLM Serving Systems<br/>
        Yuxin Wang*, <b>Yuhan Chen*</b>, Zeyu Li, Xueze Kang, Zhenheng Tang, Xin He, Rui Guo, Xin Wang, Qiang Wang, Amelie Chi Zhou, Xiaowen Chu<sup>#</sup><br/>
        <i>arXiv preprint arXiv:2401.17644</i>, 2024 
        <a href="https://arxiv.org/pdf/2401.17644" target="_blank"><img style="display: inline-block; margin:0; cursor:pointer;" alt="Paper" src="https://img.shields.io/badge/Paper-8A2BE2?style=flat-square&logo=arxiv&logoColor=FFFFFF"></a>
        <!-- &logo=PDM -->
        <!-- <img style="display: inline-block; margin:0; cursor:pointer;" alt="Slides" src="https://img.shields.io/badge/Slides-0666D6?style=flat-square&logo=apachenetbeanside"> -->
        <a href="https://github.com/HPMLL/BurstGPT" target="_blank"><img style="display: inline-block; margin:0; cursor:pointer;" alt="BurstGPT" src="https://img.shields.io/github/stars/HPMLL/BurstGPT?style=flat-square&logo=github&label=Star&labelColor=103A80&color=0FBEEF"></a> 

    </li>

    <li>
        STBLLM: Breaking the 1-Bit Barrier with Structured Binary LLMs<br/>
        Peijie Dong*, Lujun Li*, Dayou Du, <b>Yuhan Chen</b>, Zhenheng Tang, Qiang Wang, Wei Xue, Wenhan Luo, Qifeng Liu, Yike Guo<sup>#</sup>, Xiaowen Chu<sup>#</sup><br/>
        <i>arXiv preprint arXiv:2408.01803</i>, 2024 
        <a href="https://arxiv.org/pdf/2408.01803" target="_blank"><img style="display: inline-block; margin:0; cursor:pointer;" alt="Paper" src="https://img.shields.io/badge/Paper-8A2BE2?style=flat-square&logo=arxiv&logoColor=FFFFFF"></a>
    </li>

    <li>
        海洋生物的会议, <b>陈禹翰</b>, <i>南澳文艺, 20</i>, 39-40, 2012
    </li>

    * Equal contribution &nbsp; <sup>#</sup> Corresponding author
</ol>
