<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
    <p>{{site.sidebar-about-description}}</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
    <p>
      {% if site.email_1 %}
          <a href="mailto:{{site.email_1}}">✉️  {{site.email_1}}</a><br>
      {% endif %}
      {% if site.email_2 %}
          <a href="mailto:{{site.email_2}}">✉️  {{site.email_2}}</a>
      {% endif %}
      </p>
  </div>
    <h5><a href="{{'/2077/07/07/Projects/' | prepend: site.baseurl }}">PROJECTS</a></h5>
</section>